.img{
	width: 100%;
}
.s1{
	color: blue;
}
.c{
	height: 50px;
	color: white;
	background-color: darkblue;
	padding-top: 10px;
}
.cc{
	height: 50px;
	color: white;
	background-color: skyblue;
	padding-top: 10px;
}
.F{
	color: white;
}